@model Pinga.Models.Reporting
@{
    ViewData["Title"] = "Area wise Detailed Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ProjectNameExist = Convert.ToString(ViewData["ProjectNameExist"]);
}

<style>
    input#IsActive {
        vertical-align: text-bottom;
    }

    .chosen-container-single .chosen-single {
        color: #999 !important;
    }
</style>
@{
    <div class="panel panel-default">
        <div class="alert alert-danger" id="Error" style="display: none;margin-top: 20px;">
            <strong><span class="errormessage"></span></strong>
        </div>
        @if (!string.IsNullOrEmpty(ProjectNameExist))
        {
            <div class="alert alert-danger" style="margin-top: 20px;">
                <strong><span>@ProjectNameExist</span></strong>
            </div>
        }

        <div class="panel-heading">
            <h4 class="panel-title">
                Area wise Detailed Report
            </h4>
        </div>
        <div class="panel-body">
            <div class="row clearfix">

                <div class="clearfix"></div>
                <div class="col-lg-4 col-md-12 col-sm-4 form-group">
                    <label class="control-label">
                        Charge Name&nbsp; <label style="color: red;margin-bottom: 0px;">*</label>
                    </label>
                    @Html.DropDownListFor(model => model.ChargeID, new SelectList(ViewBag.ChargerNamelist, "Value", "Text"), new { @class = "form-control chosen-select", @maxlength = 500, @rows = "7", @multiple = "true" })
                </div>
                <div class="col-lg-4 col-md-12 col-sm-4 form-group">
                    <label class="control-label">
                        Select Project&nbsp; <label style="color: red;margin-bottom: 0px;">*</label>
                    </label>
                    @Html.DropDownListFor(model => model.ProjectID, new SelectList(ViewBag.ProjectsList, "Value", "Text"), new { @class = "form-control chosen-select", @maxlength = 500, @rows = "7", @multiple = "true", @onchange = "javascript:GetBlockName();" })
                </div>
                <div class="col-lg-4 col-md-10  form-group">
                    <label class="control-label">
                        Block Name &nbsp; <label style="color: red;margin-bottom: 0px;">*</label>
                    </label>
                    @*@Html.HiddenFor(Model => Model.UnitTypeID)*@
                    <select id="BlockID" name="BlockID" class="form-control" multiple="multiple" onchange="javascript:GetAppNo();"></select>
                </div>
                <div class="clearfix"></div>

                <div class="col-lg-4 col-md-10  form-group">
                    <label class="control-label">
                        App No &nbsp; <label style="color: red;margin-bottom: 0px;">*</label>
                    </label>
                    @*@Html.HiddenFor(Model => Model.UnitTypeID)*@
                    <select id="AppID" name="AppID" class="form-control" multiple="multiple"></select>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-4 form-group">
                    <label class="control-label">
                        From&nbsp; <label style="color: red;margin-bottom: 0px;">*</label>
                    </label>
                    @Html.TextBox("From", "", new { @class = "datepicker form-control", @maxlength = 500, @style = "width:100%;", @placeholder = "mm-dd-yy",@autocomplete="off" })
                </div>
                <div class="col-lg-4 col-md-12 col-sm-4 form-group">
                    <label class="control-label">
                        To&nbsp; <label style="color: red;margin-bottom: 0px;">*</label>
                    </label>
                    @Html.TextBox("TO", "", new { @class = "datepicker form-control", @maxlength = 500, @style = "width:100%;", @placeholder = "mm-dd-yy", @autocomplete = "off" })
                </div>
                <div class="form-group col-md-12">
                    <input type="submit" class="btn btn-primary pull-left" onclick="return Viewreport2()" style="margin-right: 12px;" value="View Report" />

                </div>
            </div>
        </div>
    </div>
    <div class="main-card mb-3 card ">

        <div class="accordion-wrapper" style="border-bottom: none;">
            <div class="card ">
                <div id="headingOne" class="card-header acc-header">
                    <div style="width:100%;">
                        <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne" class="  col-md-2 text-left m-0 p-0 btn btn-link text-dark btn-block accordion-btn">
                            <div class="m-0 p-0 h4-text">

                                Area Wise Detailed Report
                            </div>
                        </button>

                    </div>

                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-danger alert-dismissible" id="divError" style="display:none;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
            <div class="alert alert-success alert-dismissible" id="divSuccess" style="display:none;">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>

            <div role="alert">
                @if (TempData["sucess"] != null)
                {
                    <p class="alert alert-success alert-dismissible" id="successMessage">
                        @TempData["sucess"]
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    </p>
                }
                @if (TempData["delete"] != null)
                {
                    <p class="alert alert-danger alert-dismissible" id="successMessage">
                        @TempData["delete"]
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    </p>
                }
                <div class="alert alert-danger" id="Error" style="display: none;margin-top: 20px;">
                    <strong><span class="errormessage"></span></strong>
                </div>

            </div>
            <div class="row clearfix p_l_15 p_r_15">
                <div class="form-group table-responsive" id="RawDatas">


                    <table id="myTable" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Project Name
                                </th>
                                <th>
                                    Tower
                                </th>
                                <th>
                                    Floor Name
                                </th>

                                <th>
                                    Unit No
                                </th>
                                <th>Unit Area</th>
                                <th>Application No</th>
                                <th>Customer Name</th>
                                <th>Charge Name</th>
                                @*<th>Bill/Invoice No</th>
                                    <th>Bill Period</th>
                                    <th>Bill Date</th>

                                    <th>Charge Area</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                    <th>Service Tax</th>
                                    <th>Bill Amounts</th>
                                    <th>Invoices</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:60px;text-align:center;">
                                    <span class="projectname"></span>
                                </td>
                                <td style="width:60px;text-align:center;">
                                    <span class="TowerName"></span>
                                </td>
                                <td style="width:60px;text-align:center;">
                                    <span class="Floorname"></span>
                                </td>

                                <td style="width:60px;text-align:center;">
                                    <span class="UnitNo"></span>
                                </td>
                                <td style="width:60px;text-align:center;">

                                    <span class="Area"></span>
                                </td>
                                <td style="width:60px;text-align:center;">

                                    <span class="AppNo"></span>
                                </td>
                                <td style="width:60px;text-align:center;">

                                    <span class="CustomerName"></span>
                                </td>

                                <td style="width:60px;text-align:center;">

                                    <span class="ChargeName"></span>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <link href="~/Design/css/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Design/js/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Design/chosen/chosen.jquery.min.js"></script>
    <link href="~/Design/chosen/chosen.min.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
         //   $('#myTable').DataTable();
          //  $('.dataTables_length').addClass('bs-select');
            $('#loader').show();
            $('.errormessage').html('');
            $('#Error').hide();

            $('#loader').hide();
            $(".chosen-select").chosen({
                placeholder_text: "--Please Select--",
                no_results_text: "No result found"
            });
            $('#BlockID').chosen();
            $('#AppID').chosen();
            $("#From").datepicker({ dateFormat: 'mm-dd-yy' });
            $("#TO").datepicker({ dateFormat: 'mm-dd-yy' });
        });
        function GetBlockName() {

            var ProjectID1 = $("#ProjectID").val();

            $.ajax({
                type: "GET",
                cache: false,
                url: "/Report/GetBlockNameByID",
                data: { 'ProjectID': ProjectID1.join(',') },
                //data: {}JSON.stringify(ProjectID),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (response) {

                    debugger;
                    var option = "<option value=-1> Select All </option>";
                    if (response.length > 0) {
                        debugger;
                        for (var i = 0; i < response.length; i++) {
                            debugger;
                            option = option + "<option value=" + response[i].BlockID + ">" + response[i].BlockName + "</option>";
                        }
                    }
                    else {
                        var option = "<option value=-1> Select All </option>";
                        $("#BlockID").html(option);
                        $('#BlockID').trigger("chosen:updated");
                    }

                    $("#BlockID").html(option);
                    $('#BlockID').trigger("chosen:updated");

                },


            });

        }

        function GetAppNo() {

            var BlockID1 = $("#BlockID").val();
            $.ajax({
                type: "GET",
                cache: false,
                url: "/Report/GetAppnoByID",
                data: { 'BlockID': BlockID1.join(',') },
                //data: {}JSON.stringify(ProjectID),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (response) {
                    debugger;
                    var option = "<option value=-1> Select All </option>";
                    if (response.length > 0) {
                        debugger;
                        for (var i = 0; i < response.length; i++) {
                            debugger;
                            option = option + "<option value=" + response[i].AppID + ">" + response[i].AppNo + "</option>";
                        }
                    }

                    $("#AppID").html(option);
                    $('#AppID').trigger("chosen:updated");

                }
            });

        }

       function Viewreport2() {

            Pageload();
            return true;
        }
        function Pageload()
      {

          var Appid = $("#AppID").val();
            var CharID = $("#ChargeID").val();
            var blockID = $("#BlockID").val();
            var projectID = $("#ProjectID").val();
        $.ajax({
            url: '@Url.Action("ReportDataforAreaWiseReport", "Report")',
            cache: false,
            data: {
                'AppID': Appid.join(','), 'CharID': CharID.join(','), 'blockID': blockID.join(','), 'ProjectID': projectID.join(',')
                , 'From': $("#From").val(), 'TO': $("#TO").val()
            },

            success: function (response)
            {

                $("#RawDatas table tbody tr:not(:first)").remove();
                $("#RawDatas table tbody tr:eq(0)").show();
                for (var i = 0; i < response.length; i++) {
                    var table = $("#RawDatas table tbody tr:eq(0)").clone(true);

                    $(".projectname", table).html(response[i].ProjectName);
                    $(".TowerName", table).html(response[i].TowerName);
                    $(".Floorname", table).html(response[i].BlockName);
                    $(".UnitNo", table).html(response[i].UnitNo);
                    $(".Area", table).html(response[i].Area);
                    $(".AppNo", table).html(response[i].AppNo);
                    $(".CustomerName", table).html(response[i].CustName);
                    $(".ChargeName", table).html(response[i].ChargeName);

                    //$(".CheckBounce", table).html(CheckBounce);

                    $("#RawDatas table").append(table);

                }
                $("#RawDatas table tbody tr:eq(0)").hide();

            }

        });


        }
    </script>
}
